.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  box-shadow: 0 5px 15px rgba(black, 0.1);
  height: 500px;
  max-height: 100%;
  background: white;
  overflow: hidden;
}

.card-image {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.card-title {
  transition: background-color 200ms ease;
  position: relative;
  z-index: 1;
  padding: 20px;
  color: black;
  box-shadow: 0 5px 30px rgba(black, 0.1);

  &:hover {
    background-color: rgba(black, 0.05);
  }
}

.card-content {
  padding: 30px;
  overflow-y: auto;
}

.card-date {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-video-con {
  flex-grow: 1;
  overflow: hidden;
}

.card-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}