$header-height: 80px;
$side-spacing: 30px;

body {
  margin: 0;
  padding: 0 $side-spacing $side-spacing;
  font-family: Roboto, Arial, serif;
  overflow-y: auto;
  box-sizing: border-box;

  > section {
    padding-top: $header-height;
  }
}

#logo, #projects-button, .card-title, .logo-card {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  background: linear-gradient(to bottom, white, transparent);
  padding: 0 $side-spacing 20px;
  pointer-events: none;
  z-index: 9999;

  > * {
    pointer-events: all;
  }
}


%logo-text {
  font-size: 40px;
  font-family: bebas, Arial, serif;
}

#logo {
  @extend %logo-text;
  flex-grow: 1;
  user-select: none;
}

#info-links {
  display: flex;

  & > * {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    color: black;

    &:not(:last-child):after {
      content: '';
      margin-left: 14px;
      height: 100%;
      width: 2px;
      background-color: #CCC;
    }
  }
}

%icon {
  $button-size: 24px;

  //display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  width: $button-size;
  height: $button-size;
}

#github-link {
  @extend %icon;
  background-image: url(image/github.svg);
}

#projects-button {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
}

#projects-icon {
  @extend %icon;
  margin-left: 10px;
  background-image: url(image/down.svg);
}

#email-icon {
  @extend %icon;
  background-image: url(image/email.svg);
}


#music-icon {
  @extend %icon;
  background-image: url(image/album.svg);
}

#linkedin-icon {
  @extend %icon;
  background-image: url(image/linkedin.svg);
}

.info-link-text {
  margin-right: 10px;
}


#project-cards, #experience-cards {
  //padding: 30px 0;
  //flex-wrap: wrap;
  //box-sizing: border-box;
  //height: 100%;
  display: grid;
  grid-gap: $side-spacing;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#view-all-projects {
  color: black;
  margin-left: 20px;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#home-summary {
  text-align: center;
  font-size: 30px;
  flex-grow: 1;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.title-text {
  display: inline-block;
  font-size: 22px;
  font-family: KC;
}

#home-skills {
  $sides: 10px;
  overflow-y: auto;
  padding: 5px $sides $side-spacing;
  margin: 0 #{-$sides};
}

.skill {
  $skill-height: 40px;
  $skill-spacing: 10px;

  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  padding: 0 20px;
  margin: 0 $skill-spacing $skill-spacing 0;
  display: inline-flex;
  align-items: center;
  border-radius: $skill-height/2;
  background: white;
  height: $skill-height;
  box-shadow: 0 1px 6px rgba(black, 0.1);
  opacity: 0;

  &.active {
    opacity: 1;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(black, 0.2);
  }
}

@media only screen and (max-width: 630px) {
  .info-link-text {
    display: none;
  }


  #project-cards, #experience-cards {
    //padding: 30px 0;
    //flex-wrap: wrap;
    //box-sizing: border-box;
    //height: 100%;
    display: grid;
    grid-gap: $side-spacing;
    grid-template-columns: repeat(auto-fit, 100%);
  }
}